@charset "UTF-8";

/* rootを使うためにインポートしました */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

/* テーマカラー格納庫 */
:root,

	/* テーマカラー0 (デフォルト) */
	:root[theme='0'] {
		--back-color: #E9E6E0;
		--header-color: #9EABC5;
		--sub-color: #C6BEBA;
		--side-color: #D4AF92;
		--mono-color: #4b4b4b;
	}

	/* テーマカラー1 */
	:root[theme='1'] {
		--back-color: #FFFCC6;
		--header-color: #FFF568;
		--sub-color: #FFFAA8;
		--side-color: #F3DFAD;
		--mono-color: #4b4b4b;
	}

 	/* テーマカラー2 */
 	:root[theme='2'] {
		--back-color: #F5E1BF;
		--header-color: #D4AF92;
		--sub-color: #DDC7AF;
		--side-color: #C6BEBA;
		--mono-color: #4b4b4b;
	}

	/* テーマカラー3 */
	:root[theme='3'] {
		--back-color: #F5F8F3;
		--header-color: #8CBDBD;
		--sub-color:  #D1E6D5;
		--side-color: #F3DFAD;
		--mono-color: #4b4b4b;
	}

	/* テーマカラー4 */
	:root[theme='4'] {
		--back-color: #F5DFBD;
		--header-color: #6D9384;
		--sub-color: #F4F0E4;
		--side-color: #E1A080;
		--mono-color: #4b4b4b;
	}

html input textarea{
	font-family: 'M PLUS Rounded 1c', sans-serif;
}


body {
	background-color:var(--back-color);
	margin: 0;
}

header {
	background-color:var(--header-color);
	height: 70px;
}

/* ロゴ */
.logo {
	display: block;			/* 表示方法(積み上げ) */
 	margin-right: auto;		/* 右の余白 */
	margin-left: auto;		/* 左の余白 */
	width: 155px;				/*画像の幅*/
	height: 60px;			/*画像の高さ*/
}

/* ユーザーアイコン */
.user_icon {
	width: 120px;		/* 横 */
	height: 120px;		/* 縦 */
}

/* ハンバーガーメニュー全体 */
.menu {
	display: absolute;		/* 絶対位置 */
	top: 0;					/* 上からの位置 */
	right: 0;				/* 右からの位置 */
	width: 100%;			/* 横 */
	height: 40px;			/* 縦 */
}

/* ハンバーガーメニューの三本線(全体について) */
.line-list {
	display: inline-block;		/* 横に積み重ね */
	transition: all 0.4s;		/* 三本線に戻るときにかかる秒数 */
	box-sizing: border-box;		/*  */
	position: absolute;			/* 絶対位置 */
	top: 0;						/* 上からの位置 */
	width: 40px;				/* 横 */
	height: 40px;				/* 縦 */
	margin-right: 0;			/* 右側の余白 */
	margin-left: auto;			/* 左側の余白 */
	z-index: 9999;				/* 階層(数字が大きい方が上) */
}

	/* ハンバーガーメニューの三本線(それぞれの棒について) */
	.line-list span {
	  display: block;					/* 表示方法 */
	  transition: all 0.4s;				/*  */
	  box-sizing: border-box;			/* 親要素に合わせた大きさ設定 */
	  position: absolute;				/* 絶対位置 */
	  top: 50%;							/* 上からの距離 */
	  transform: translateY(50%);		/* Y軸方向の動き方 */
	  left: 50%;						/* 左からの距離 */
	  transform: translateX(-50%);		/* X軸方向の動き方 */
	  width: 20px;						/* 横 (長さ) */
	  height: 2px;						/* 縦 (太さ) */
	  background: var(--mono-color);	/* 色 */
	}
		.line-list span:nth-child(1) {
		  margin-top: -6px;		/* 一本目の線に関して */
		}
		.line-list span:nth-child(3) {
		  margin-top: 6px;		/* 三本目の線に関して */
		}

		/* ハンバーガーメニューの三本線を×にする */
		/* 一本目の線に関して */
		.line-list.active span:nth-child(1) {
		  -webkit-transform: translateY(6px) rotate(-45deg);
		  transform: translateY(6px) rotate(-45deg);
		  left: 10px;
		}
		/* 二本目の線に関して */
		.line-list.active span:nth-child(2) {
		  opacity: 0;		/* 透明にする */
		}
		/* 三本目の線に関して */
		.line-list.active span:nth-child(3) {
		  -webkit-transform: translateY(-6px) rotate(45deg);
		  transform: translateY(-6px) rotate(45deg);
		  left: 10px;
		}

/* 黒い半透明の背景 */
.menu-bg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9997;					/* 階層 */
	background: var(--mono-color);
	opacity: 0.45;
	visibility: hidden;				/* 見えないようにする */
	transition: all 0.1s;
	cursor: auto;					/* カーソルの種類 */
}

/* メニューの中身 */
.global-nav {
	position: fixed;
	left: -320px;
	top: 0;
	width: 300px;
	height: 100vh;
	padding-top: 40px;					/* コンテンツ内の上の余白 */
	background: var(--header-color);
	transition: all 0.6s;				/* 動く速度 */
	z-index: 9998;						/* 階層 */
	overflow-y: auto;				/* スクロールバー */
}

/* メニューの項目全体 */
.link-list {
  display: block;
  margin: 0;
  padding: 0;
}

	/* メニューの項目それぞれ */
	.link-list li {
		text-align: center;
		font-weight: bold;
		padding: 0 14px;
	}

	/* メニューの項目それぞれのaタグ */
	.link-list li a {
		display: block;
		padding: 20px 0;
		color: var(--mono-color);
		text-decoration: none;		/* リンクの下線 */
	}
	/* メニューの項目それぞれにカーソルが乗ったとき */
	.link-list .li:hover {
		background: var(--sub-color);
	}
	.link-list .user_icon:hover {
		opacity: 0.8;
	}

/* 三本線がクリックされると「global-nav」クラスが以下に変わる */
.global-nav.active {
	left: 0;		/* 左からの位置 */
}

/* 三本線がクリックされると「menu-bg」クラスが以下に変わる */
.menu-bg.black {
	opacity: 0.6;			/* 透明度 */
	visibility: visible;	/* 可視化 */
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
	background: rgba(0,0,0,0);
    border-radius: 100px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--side-color);
    border-radius: 100px;
}






