@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

/* theme color */
:root,
:root[theme='0'] {
	--back-color: #E9E6E0;
	--header-color: #9EABC5;
	--sub-color: #C6BEBA;
	--mono-color: #4b4b4b;
}

:root[theme='1'] {
	--back-color: #FFFCC6;
	--header-color: #FFF568;
	--sub-color: #FFFAA8;
	--mono-color: #4b4b4b;
}

:root[theme='2'] {
	--back-color: #F5E1BF;
	--header-color: #D4AF92;
	--sub-color: #DDC7AF;
	--mono-color: #4b4b4b;
}

body {
	background-color:var(--back-color);
	margin: 0;
}

header {
	background-color:var(--header-color);
}

a {
	text-decoration: none;
}

.logo {
	display:block;
	margin-right:auto;
	margin-left:auto;
	width: 13%; /*画像の幅*/
	height:90% /*画像の高さ*/
}

.user_icon {
	width: 120px;
	height: 120px;
}

/* メニュー固定 */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 40px;
}

.line-list {
	display: inline-block;
	transition: all 0.4s;
	box-sizing: border-box;
	position: relative;
	width: 40px;
	height: 40px;
	margin-right: 0;
	margin-left: auto;
	z-index: 300;
}

/* ハンバーガーメニューの棒 */
.line-list span {
  display: block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 1px;
  background: var(--mono-color);
}
.line-list span:nth-child(1) {
  margin-top: -6px;
}
.line-list span:nth-child(3) {
  margin-top: 6px;
}

/* ハンバーガーメニューが開くときに×にする */
.line-list.active span:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(-45deg);
  transform: translateY(6px) rotate(-45deg);
  left: 10px;
}
.line-list.active span:nth-child(2) {
  opacity: 0;
}
.line-list.active span:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg);
  left: 10px;
}

/* メニューが開いたときの黒い半透明の背景 */
.menu-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: var(--mono-color);
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  cursor: pointer;
}

/* メニューの中身 */
.global-nav {
  position: fixed;
  left: -320px;
  top: 0;
  width: 300px;
  height: 100vh;
  padding-top: 40px;
  background: var(--header-color);
  transition: all 0.6s;
  z-index: 200;
  overflow-y: auto;
}
.link-list {
  display: block;
  margin: 0;
  padding: 0;
}
.link-list li {
  text-align: center;
  padding: 0 14px;
}
.link-list li a {
  display: block;
  padding: 20px 0;
  color: var(--mono-color);
}
.link-list li:hover {
  background: var(--sub-color);
}

/* メニューが横から開く */
.menu-open .global-nav {
  left: 0;
}

/* メニューが横から開いた時の背景 */
.menu-open .menu-bg {
  opacity: 0.8;
  visibility: visible;
}


