@charset "UTF-8";

/*全体の設定
---------------------------------------------------------------------------*/
html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	color: black; /*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
		Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; /*フォント種類*/
	font-size: 16px; /*文字サイズ*/
	line-height: 2; /*行間*/
	background: #9EABC5; /*背景色*/
	-webkit-text-size-adjust: none;
}

.line {
	text-decoration: underline;
	text-align: center;
}

/*ヘッダー
---------------------------------------------------------------------------*/
header {
	overflow: auto;
	position: relative;
	background: #E9E6E0; /*背景色*/
}

/*ボディ
---------------------------------------------------------------------------*/
/*目次*/
#menu
.toc_container {
	margin-left: 0;
	padding: 15px 10px 15px 35px; /* 枠内の余白(上右下左) */
	font-size: 100%; /* 文字サイズ */
	border: dotted 1px #777; /* 線の種類と色 */
	background: #f7f7f7; /* 背景 */
	line-height: 15px;
	text-align: center;
}

.toc_title {
	font-size: 110%;
	font-weight: bold; /* 文字の太さ 通常はnormal */
	color: #000; /* 文字の色 */
	text-align: center;
}

.list {
	list-style-type: decimal; /* マークの種類 */
	text-align: center;
}

/* 見出し */
.wrapper {
	width: 100%;
	text-align: center;
}

/* テキストの配置 */
.wrapper .container {
	max-width: 1000px;
	margin: 0px auto;
	padding: 80px 0px;
	text-align: center;
}

/* content */
.wrapper .content {
	padding: 50px;
	text-align: center;
}

.wrapper .content .heading {
	margin: 0px 0px 40px 0px;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
}
/*アイコンの配置
---------------------------------------------------------------------------*/
.icon img {
float: left;
width : 60px;
height : 60px;
margin: 0px;

}