@charset "UTF-8";


body {
	background-color: #E9E6E0;	/* 背景色 */
	width: 700px;	/* コンテンツ範囲(横) */
	margin : 0 auto;	/* コンテンツ外範囲(横：auto / 縦：0) */
	text-align: center;/* 文章を中央揃え */
}

table {
	margin : 0 auto;	/* tableタグの中身を中央揃え */
}

hr {
	height: 1px;
	width: 450px;
	background-color: #4b4b4b;
	border: none;
}

tr {
	height: 30px;
}

a {
	text-decoration: none;	/* リンクの下線を消す */
	padding-bottom: 0;
	border-bottom: 1px solid #4b4b4b;	/* ログインボタンとの距離 */
}

/* ロゴ */
.login_logo {
	width: 220px;
}

/* ユーザーアイコン */
.login_icon {
	width: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* id / password の下線 */
.under_line {
	border-bottom: 1.5px solid #4b4b4b;
	width: 270px;
}

/* ログインボタン */
.login_button {
	background-color: #EBDBBD;
	border: #4b4b4b 1px solid;
	border-radius: 7px;
	padding: 7px 10px;
	margin-top: 35px;
}

/* inputタグ */
.text-box {
	border: none;	/* 枠をなくす */
	outline: none;	/* 枠をなくす */
	background-color: #E9E6E0;	/* 背景色 */
	height: 35px;	/* 入力欄の縦 */
}

/* 新規登録はこちら */
.p {
	margin-top: 20px;	/* ログインボタンとの距離 */
}





