@charset "UTF-8";


/* 表示関連のCSS */


/* 宣言が0個の時のメッセージ文 */
.result_message {
		text-align: center;
	    margin-top: 200px;
    margin-left: auto;
}

h3 {
	text-align: center;
	margin:0;
	font-size: 22px;
}


/* Ajaxのホバー */
.aj img:hover {
	cursor: pointer;
}
/* ハートマーク */
.user_reaction img {
	float	: left; /* 左に回り込み */
	width 	: 55px; /* サイズ */
	height 	: 55px; /* サイズ */
}

#white_heart {
	opacity	: 0.7;
}

/*非公開表示  */
.private_button{
	float		: right; /* 右に回り込み */
	width 		: 30px;  /* サイズ */
	height 		: 30px;  /* サイズ */
	margin-left : 20px;  /* 間隔調整 */

}

.private_button img {
	width: 30px;
}

/* 編集ボタン */
.edit_button {
	float		: right; /* 右に回り込み */
	width 		: 30px;  /* サイズ */
	height 		: 30px;  /* サイズ */
	margin-left : 20px;  /* 間隔調整 */
}

.edit_button:hover {
	cursor: pointer;
}


/* 編集ボタンにホバーした時に表示する */
.edit_h {
	display: none;
    width: 112px;
    position: absolute;
    left: 610px;
    top: -66px;
    padding: 10px;
    border-radius: 5px;
    background:var(--header-color);
    color: #fff;
    font-weight: bold;
}


.edit_h:after {
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      bottom: -19px;
      margin-left: 10px;
      border: solid transparent;
      border-color: rgba(0, 0, 0, 0);
      border-top-color:var(--header-color);
      border-width: 10px;
      pointer-events: none;
      content: " ";
 }

.edit_text:hover + .edit_h {
      display: block;
}

/*checkboxを隠す*/
input[type=checkbox]#pvf{
	display:none;
}

.private_edit input{
	display:none;
}

/*達成・削除ボタンの位置調整  */
.step_submit input{
	float : right;
	padding: 5px;
	margin: 10px;
	width: 80px;
    height: 40px;
    font-size: 15px;
    background-color: var(--header-color);
    border-radius: 10px;
    border: 1.5px solid var(--mono-color);
    position: relative;
    bottom: 30px;
}

.step_submit input:hover {
	cursor: pointer;
	opacity: 0.8;
}

.step_submit {
	margin-bottom: 50px;
}

#step_achieve td {
	opacity	: 0.7;
}

/* 新規登録モーダルを開くボタンの調整 */
.regist_bt_m {
	position: fixed;
    float: right;
    right: 70px;
    bottom: 20px;
}

.regist_bt_m img {
	width:70px;
}

.regist_bt_m img:hover {
	cursor: pointer;
}

/* 新規登録ボタンをホバーしたとき */
.regist_h {
	display: none;
    width: 112px;
    position: fixed;
    right: 1px;
    bottom: 90px;
    padding: 10px;
    border-radius: 5px;
    background:var(--header-color);
    color: #fff;
    font-weight: bold;
}


.regist_h:after {
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      bottom: -19px;
      margin-left: 10px;
      border: solid transparent;
      border-color: rgba(0, 0, 0, 0);
      border-top-color:var(--header-color);
      border-width: 10px;
      pointer-events: none;
      content: " ";
 }

.regist_text:hover + .regist_h {
      display: block;
}

/* 新規登録画面のCSS */
/* 新規登録ボタン */
 /*.new_resist {
	position: fixed;
    right: 120px;
    bottom: 125px;
}*/

.new_resist input {
	float : right;
	padding: 5px;
	margin: 10px;
	width: 80px;
    height: 40px;
    font-size: 15px;
    background-color: var(--header-color);
    border-radius: 10px;
    border: 1.5px solid var(--mono-color);
    position: absolute;
    left: auto;
    right: 60px;
    bottom: 10px;
    top: auto;
}

.new_resist input:hover {
	cursor: pointer;
	opacity: 0.8;
}

/* 非公開ボタンの調整 */
.private_edit {
	float: right;
	position: absolute;
	right: 80px;
	top: 60px;
	left: atuo;
	bottom: auto;
}

.private_edit img {
	width: 50px;
}

.private_edit img:hover {
	cursor: pointer;
}


/* タグの調整 */
.tag_bt {
	margin-left: 70px;
	margin-top: 40px;

}
.tag_bt select {
	width: 131px;
    height: 35px;
    font-size: 15px;
}

/* 宣言の調整 */
.input_dec {
	margin-left: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.input_dec input {
	width: 600px;
    height: 35px;
    font-size: 22px;
    border: none;
    outline: none;
}

.input_dec input:hover {
	border-bottom : 2px solid black;
	/*cursor: pointer;*/
}

.input_dec input:focus {
	border-bottom : 2px solid black;
}

/* ステップの調整 */
.target {
	margin-left: 70px;
	/*margin-top: 10px;*/
}

.target img{
	width: 30px;
    margin-top: 5px;
    margin-bottom: -9px;
    margin-right: 26px;

}

.target input {
	margin-bottom: 12px;
    height: 30px;
    font-size: 18px;
    width: 545px;
    border:none;
    outline: none;

}

.target input:hover {
	border-bottom : 2px solid black;
	/*cursor: pointer;*/
}

.target input:focus {
	border-bottom : 2px solid black;
}

/* ×の調整 */
.close img {
	width: 20px;
}

/* プラスボタンの調整 */
.step_add {
	margin-left: 70px;
    margin-bottom: 60px;
}

.step_add img {
	width: 30px;
    margin-top: 5px;
    margin-bottom: -9px;
    margin-right: 26px;
}

.step_add img:hover {
	cursor: pointer;
}


/* 編集画面のCSS */
/* ×ボタンの調整 */
.close2 img {
	width: 20px;
}

/* 既存のステップの調整 */
.already_step {
	margin-left: 70px;
	margin-top: 30px;
}

.already_step img {
	width: 30px;
    margin-top: 5px;
    margin-bottom: -9px;
    margin-right: 26px;
}


.already_step input {
	margin-bottom: 12px;
    height: 30px;
    font-size: 18px;
    width: 545px;
    border:none;
    outline: none;
}

.already_step input:hover {
	border-bottom : 2px solid black;

}

.already_step input:focus {
	border-bottom : 2px solid black;
}




/*モーダル関係のCSS*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.45);
  z-index: 99999;
  animation-name: show;
  animation-duration: 0.5s
}

.modal_content {
  position: relative;
  background-color: #fff;
  margin: 10% auto;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 70%;
  border-radius	: 20px;
  height: fit-content;
}


/*#new_decla_text {
	margin-left : 30px; /* 間隔調整
	margin-top : 50px;
}*/



@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

/*.modal-header {
  padding: 12px;
  background-color: grey;
  color: white;
}*/

.modal-body {
	margin: auto;
    padding: 12px;
}

/*.modal-footer {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 12px;
}*/

.close {
  margin-right: 30px;
  margin-top: 25px;
  color: #aaa;
  float: right;
  font-size: 16px;
}


.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.close2 {
	margin-right: 30px;
    margin-top: 25px;
  color: #aaa;
  float: right;
  font-size: 16px;
}

.close2:hover,
.close2:focus {
  color: black;
  cursor: pointer;
}


