@charset "UTF-8";

table.hee {
	margin-top:20px;
	margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
}
td.pro{
	text-align: center;
	height:20px;
	width:60px;
}
td.haba{
	width:230px;
	height:50px;
}

td.user_name{
	font-weight:600;/*文字の太さ*/
	font-size: 23px;
}
td.comment{
	font-size: 18px;
}

hr {
	height: 1px;					/* 太さ */
	width: 450px;					/* 長さ */
	background-color: #4b4b4b;	/* 色 */
	border: none;					/* 枠線をなし */
}

.kura{
	opacity:0;
}

progress {
  width: 180px;
  height: 20px;
  background-color: #888e7e;
}

progress::-webkit-progress-bar {
  background-color: #888e7e;
}

progress::-webkit-progress-value {
  background-color: #fcc800;
}

progress::-moz-progress-bar {
  background-color: #fcc800;
}

progress::-ms-fill {
  background-color: #fcc800;
}

main{
	z-index:1;
}
