@charset "UTF-8";

body { background-color: #C0C8D5; }
h1 { text-align:center;}
.search {
	margin-left: auto;
 	margin-right: auto; }

.search_button {
 	width: 30px;
	height: 30px;
	margin-left: 20px;
}

.search_box {
	width: 400px;
	height: 20px;
}

/* アコーディオンメニュー */
nav{ display: none; }
ul{list-style: none;}
.nav-open{
	font-size: 20px;
	position: relative;
	padding-bottom  : 50px;
}
.nav-open::before{/* 閉じている時 */
	position: absolute;
	right: 20px;
}


/* 宣言リスト */
.list {
	display			: block;
	width			: 700px;
	background-color: #FFFFFF;
	border			: 1px solid;
	border-radius	: 20px;
	border-color	: #8989ff;
	margin-left		: auto;
	margin-right	: auto;
	margin-top		: 50px;
	padding			: 30px 40px 40px 40px;
	box-shadow		: 6px 6px 5px #7f7fff;
}

/* hoverすると少し反応する*/
.list:hover {
	top:-3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.user_botton img {
float: left;
width : 60px;
height : 60px;
}

.dexala_text {
	float: left;
	margin-left : 30px;
}
.decla_tag{ font-size: 18px; }
.decla_list{
	font-weight:bold;
	font-size: 22px;
}
.achieve_rate { float: right; }

.reaction_white {
	float: right;
	width : 30px;
	height : 30px;
	margin-left : 20px;
	opacity: 0.7;
}

.reaction_red {
	float: right;
	width : 30px;
	height : 30px;
	margin-left : 20px;
}

.bookmark_button {
	float: right;
	width : 30px;
	height : 30px;
	margin-left : 20px;
}

.step_list {
	clear:both;  /*回り込み解除*/
	margin-top : 40px;
}

.step_list img {
	width : 25px;
	height : 25px;
	margin-top: 10px;
	margin-right: 20px;
}

.achieve_step {
	opacity: 0.8;
	text-decoration: line-through;
}