@charset "UTF-8";

body {
	background-color:var(--color-main);
}

.radio {
	display: inline;
}

.color {
	display: inline;
}

.display {
      display: none;
    }

    input:checked + label img {
      border: 2px solid black;
    }