@charset "UTF-8";

.radio {
	display: inline;
}

.color {
	display: inline;
}

.display {
      display: none;
    }

    input:checked + label img {
      border: 3px solid var(--mono-color);
      border-radius: 50px;
    }

.radio_circle {
	width: 100px;
	height: 100px;

}


